/* Fazer Reserva */

position: relative;
width: 390px;
height: 849px;

background: linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), #FFFFFF;
border-radius: 20px;


/* Container */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 24px 0px;
gap: 24px;
isolation: isolate;

position: absolute;
width: 370px;
height: 849px;
left: 20px;
top: 0px;

background: #FFFFFF;


/* Header */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 20px;

width: 370px;
height: 40px;


/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* Text */

margin: 0 auto;
width: 120px;
height: 25px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 140%;
/* ou 25px */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Icon Button */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

margin: 0 auto;
width: 40px;
height: 40px;

border-radius: 8px;

/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* 20/Close */

width: 20px;
height: 20px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

border: 1.2px solid #000000;


/* Vector */

position: absolute;
left: 25%;
right: 25%;
top: 25%;
bottom: 25%;

border: 1.2px solid #000000;


/* Divider */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 370px;
height: 0px;


/* Auto layout por dentro */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* line */

width: 370px;
height: 0px;

border: 1px solid #F1F1F1;

/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Calendar */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 20px;

width: 370px;
height: 284px;

border-radius: 16px;

/* Auto layout por dentro */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Month Header */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

width: 330px;
height: 28px;


/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Month */

margin: 0 auto;
width: 74px;
height: 22px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 140%;
/* ou 22px */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Navigation Buttons */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: center;
padding: 0px;
gap: 12px;

margin: 0 auto;
width: 68px;
height: 28px;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Icon Button */

box-sizing: border-box;

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 28px;
height: 28px;

border: 1px solid #F1F1F1;
border-radius: 8px;

/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* chevron-left */

width: 16px;
height: 16px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 25%;
bottom: 25%;

border: 1px solid #000000;


/* Icon Button */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 28px;
height: 28px;

background: #F1F1F1;
border-radius: 8px;

/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* chevron-right */

width: 16px;
height: 16px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Vector */

position: absolute;
left: 37.5%;
right: 37.5%;
top: 25%;
bottom: 25%;

border: 1px solid #000000;


/* Day Picker */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px 0px 0px;

width: 330px;
height: 256px;


/* Auto layout por dentro */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Week Header */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

width: 330px;
height: 20px;


/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Week Day */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 10px;
gap: 10px;

margin: 0 auto;
width: 36px;
height: 20px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Su */

width: 16px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 20px;
/* idêntico à altura da caixa ou 156% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Week Day */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 10px;
gap: 10px;

margin: 0 auto;
width: 36px;
height: 20px;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Mo */

width: 20px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 20px;
/* idêntico à altura da caixa ou 156% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Week Day */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 10px;
gap: 10px;

margin: 0 auto;
width: 36px;
height: 20px;


/* Auto layout por dentro */
flex: none;
order: 2;
flex-grow: 0;


/* Tu */

width: 14px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 20px;
/* idêntico à altura da caixa ou 156% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Week Day */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 10px;
gap: 10px;

margin: 0 auto;
width: 36px;
height: 20px;


/* Auto layout por dentro */
flex: none;
order: 3;
flex-grow: 0;


/* We */

width: 20px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 20px;
/* idêntico à altura da caixa ou 156% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Week Day */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 10px;
gap: 10px;

margin: 0 auto;
width: 36px;
height: 20px;


/* Auto layout por dentro */
flex: none;
order: 4;
flex-grow: 0;


/* Th */

width: 14px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 20px;
/* idêntico à altura da caixa ou 156% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Week Day */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 10px;
gap: 10px;

margin: 0 auto;
width: 36px;
height: 20px;


/* Auto layout por dentro */
flex: none;
order: 5;
flex-grow: 0;


/* Fr */

width: 12px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 20px;
/* idêntico à altura da caixa ou 156% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Week Day */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 10px;
gap: 10px;

margin: 0 auto;
width: 36px;
height: 20px;


/* Auto layout por dentro */
flex: none;
order: 6;
flex-grow: 0;


/* Sa */

width: 16px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 12.8px;
line-height: 20px;
/* idêntico à altura da caixa ou 156% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Container */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 8px 0px 0px;
gap: 8px;

width: 330px;
height: 220px;


/* Auto layout por dentro */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Week Days */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

width: 330px;
height: 36px;


/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

opacity: 0.5;
border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 18px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

opacity: 0.5;
border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 17px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

opacity: 0.5;
border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 19px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

opacity: 0.5;
border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 3;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 14px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

opacity: 0.5;
border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 4;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 6px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 5;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 9px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 6;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 9px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Week Days */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

width: 330px;
height: 36px;


/* Auto layout por dentro */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 9px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 9px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;


/* Auto layout por dentro */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

background: #305C3A;
border-radius: 50px;


/* 30 */

width: 9px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 3;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 8px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 4;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 9px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 5;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 9px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 6;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 16px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Week Days */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

width: 330px;
height: 36px;


/* Auto layout por dentro */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 11px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 14px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 14px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 3;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 15px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 4;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 14px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 5;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 14px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 6;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 13px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Week Days */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

width: 330px;
height: 36px;


/* Auto layout por dentro */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 14px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 14px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 19px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 3;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 14px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 4;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 17px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 5;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 17px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 6;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 18px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Week Days */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;

width: 330px;
height: 36px;


/* Auto layout por dentro */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 18px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 17px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 2;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 16px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 3;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 18px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 4;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 17px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

opacity: 0.5;
border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 5;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 6px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Day */

margin: 0 auto;
width: 36px;
height: 36px;

opacity: 0.5;
border-radius: 6px;

/* Auto layout por dentro */
flex: none;
order: 6;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 36px;
height: 36px;
left: 0px;
top: 0px;

border-radius: 6px;


/* 30 */

width: 9px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* idêntico à altura da caixa ou 143% */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Divider */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 370px;
height: 0px;


/* Auto layout por dentro */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
z-index: 3;


/* line */

width: 370px;
height: 0px;

border: 1px solid #F1F1F1;

/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Time */

/* Layout automático */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px 20px;
gap: 12px;

width: 370px;
height: 36px;


/* Auto layout por dentro */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;
z-index: 4;


/* Time Picker */

box-sizing: border-box;

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 76px;
height: 36px;

border: 1px solid #F1F1F1;
border-radius: 50px;

/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* 09:00 */

width: 44px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Time Picker */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 74px;
height: 36px;

background: #305C3A;
border-radius: 50px;

/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* 09:00 */

width: 42px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Time Picker */

box-sizing: border-box;

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 71px;
height: 36px;

border: 1px solid #F1F1F1;
border-radius: 50px;

/* Auto layout por dentro */
flex: none;
order: 2;
flex-grow: 0;


/* 09:00 */

width: 39px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Time Picker */

box-sizing: border-box;

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 61px;
height: 36px;

border: 1px solid #F1F1F1;
border-radius: 50px;

/* Auto layout por dentro */
flex: none;
order: 3;
flex-grow: 0;


/* 09:00 */

width: 29px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Time Picker */

box-sizing: border-box;

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 71px;
height: 36px;

border: 1px solid #F1F1F1;
border-radius: 50px;

/* Auto layout por dentro */
flex: none;
order: 4;
flex-grow: 0;


/* 09:00 */

width: 39px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Divider */

/* Layout automático */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 370px;
height: 0px;


/* Auto layout por dentro */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;
z-index: 5;


/* line */

width: 370px;
height: 0px;

border: 1px solid #F1F1F1;

/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
gap: 10px;

width: 370px;
height: 142px;


/* Auto layout por dentro */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;
z-index: 6;


/* Scheduling Card */

box-sizing: border-box;

/* Layout automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 12px;
gap: 12px;

width: 330px;
height: 142px;

background: #FAFAFA;
border: 1px solid #F1F1F1;
border-radius: 10px;

/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* service */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 123px;

width: 306px;
height: 22px;


/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Service Name */

margin: 0 auto;
width: 128px;
height: 22px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 140%;
/* ou 22px */

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Service Price */

margin: 0 auto;
width: 62px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */
text-align: right;

color: #000000;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* date */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 176px;

width: 306px;
height: 20px;


/* Auto layout por dentro */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Date Label */

margin: 0 auto;
width: 32px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Date Value */

margin: 0 auto;
width: 91px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */
text-align: right;

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* time */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 209px;

width: 306px;
height: 20px;


/* Auto layout por dentro */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Time Label */

margin: 0 auto;
width: 50px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Time Value */

margin: 0 auto;
width: 41px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */
text-align: right;

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* barber */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 198px;

width: 306px;
height: 20px;


/* Auto layout por dentro */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Barber Label */

margin: 0 auto;
width: 65px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Barber Value */

margin: 0 auto;
width: 100px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */
text-align: right;

color: #656565;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;


/* Button */

/* Layout automático */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px 20px;
gap: 10px;

position: absolute;
width: 370px;
height: 36px;
left: 0px;
top: 795px;


/* Auto layout por dentro */
flex: none;
order: 7;
flex-grow: 0;
z-index: 7;


/* Button */

/* Layout automático */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 8px 16px;
gap: 8px;

width: 330px;
height: 36px;

background: #305C3A;
border-radius: 99px;

/* Auto layout por dentro */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icons/Google */

display: none;
width: 16px;
height: 16px;


/* Auto layout por dentro */
flex: none;
order: 0;
flex-grow: 0;


/* Button */

width: 69px;
height: 20px;

font-family: 'Plus Jakarta Sans';
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 140%;
/* idêntico à altura da caixa ou 20px */

color: #FFFFFF;


/* Auto layout por dentro */
flex: none;
order: 1;
flex-grow: 0;
